
details summary::-webkit-details-marker {
  background: url(Friendsphotos/menu.png) center no-repeat;

}
details[open] summary::-webkit-details-marker {
  background: url(Friendsphotos/menu.png) center no-repeat;

}

:root {
  --black: black;
  --font: white;
  --background: #282A35;
}

@font-face {
  font-family: myfont12;
  src: url('Fonts/iniya-display-font/IniyaDisplay-ow0Ra.otf');
}

body{
  font-family: myfont12;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  overflow-x: hidden;
  width: 95%;
}

details summary::-webkit-details-marker {
      background: url(Friendsphotos/menu.png);
      background-repeat: no-repeat;
}
details[open] summary::-webkit-details-marker {
      background: url(Friendsphotos/menu.png);
      background-repeat: no-repeat;
      animation-name: menu;
      animation-duration: 1s;
      animation-delay: 0s;
}

/* .nav{
  top: 0px;
  position: fixed;
  background-color: #00000080;
  font-size: 25px;
  font-family: cursive;
  width: 97%;
  z-index: 100;
  height: 7%;
  margin: 0 1.5%;
  box-shadow: 0 0 12px 5px black;
  visibility: hidden;
  animation-duration: 1s;
  animation-name: example;
  animation-fill-mode: forwards;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 3px;
} */

details{
  height: 45px;
  background-color: #282A35;
  color: white;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
  /* background: black; */
  left: -9px;
}

.uli {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #282A35;
  height: 100%;
  position: fixed;
  overflow: auto;
  overflow: hidden;
  z-index: 1600;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
  display: inline-flex;
  font-size: 17px;
  color: #f1f1f1;
  padding: 0;
  letter-spacing: 1px;
  box-shadow: -4px 2px 10px black, 0px -4px 20px 0px blue;
  box-sizing: inherit;
  border-bottom: 2px solid black;
  /* padding: 0; */
  align-items: center;
}


.uli1{
  visibility: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #282A35;
    position: fixed;
    overflow: auto;
    overflow: hidden;
    z-index: 1600;
    left: 0;
    top: 0;
    height: 218px;
    width: fit-content;
    display: flex;
    font-size: 17px;
    color: #f1f1f1;
    padding: 0;
    letter-spacing: 1px;
    box-shadow: -4px 2px 10px black, 0px -4px 20px 0px blue;
    box-sizing: inherit;
    border-bottom: 2px solid black;
    /* padding: 0; */
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 35px;
    animation-duration: 0.75s;
    animation-name: example;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
  li a {
    display: block;
    color: white;
    padding: 12px 18px;
    text-decoration: none;
  }
  li {
    text-align: center;
    /* border-bottom: 1px solid #005bff69; */
    color: #f1f1f1;
    font-size: 17px;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: black;

    color: white;
    
  }

  
  .active {
    background-color: #004ad0;
    /* color: white; */
    /* font-size: 33px; */
    border-bottom: darkblue solid 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #f1f1f1;
    /* height: 100%; */
    height: 19px;
  }
  
  .madeBy{
    z-index: 1700;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 17px;
    /* padding: 6px; */
    /* border-radius: 9px; */
    /* border: solid blue 1px; */
    color: white;
    /* background-color: #0078b2; */
    font-family: sans-serif;
    border-bottom: solid 2px darkblue;
    cursor: context-menu;
    height: 19px;
    padding: 11px 0px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .madeBy:hover{
    background-color: black;
    color: white;
  }

  .thing{
    display: flex;
    align-items: center;
    flex-direction: row;
    /* color: black; */
    padding: 9px 2px;
    border-bottom: darkblue solid 2px;
    font-size: 17px;
    color: #f1f1f1;
    background-color: #004ad0;
    letter-spacing: 1px;
  }

.img{
    background-image: url("Friendsphotos/8lPke0r.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    visibility: hidden;
    animation-duration: 0.75s;
    animation-name: example;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}
#imgdiv{
    visibility: hidden;
    animation-duration: 0.75s;
    animation-name: example;
    animation-fill-mode: forwards;
    animation-delay: 0.75s;
}

#textArea{
    resize: none;
    font-size: 29px;
    border: none;
    border-left: solid black 2px;
    background-color: transparent;
    width: 385px;
}


.form{
    background-color: white;
    border: solid blue 2px;
    border-radius: 45px;
    font-size: 31px;
    visibility: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
    width: 492px;
    height: 46px;
}

.imgAccount{
    height: 31px;
    width: auto;
    margin: 0px 7px;
}


.button{
    border: solid white 2px;
    font-size: 22px;
    padding: 3px 6px;
    border-radius: 7px;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
    margin-top: 12px;
    width: 492px;
    height: 46px;
}

  

@keyframes example {
    0%
    {
        opacity: 0;
        transform: translateX(-100px);
        visibility: visible;
    }

    100% 
    {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }

  }
  
